composer.phar
/vendor/

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.history/
